<!DOCTYPE html>
<html lang="{{ .Lang }}" class="no-js">
{{ .Scratch.Set "years" (sub now.Year 1996) }}
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <hdr class="page-header" id="header">
    {{ partial "header.html" . }}
  </hdr>
  <section>
    <article class="timeline" id="start-scroll">
      {{range .Params.events}}
      <div class="timeline-year">
        <div class="timeline-mark">
          {{ .year }}
        </div>
        {{range .entries}}
        <div class="timeline-entry" data-category="['{{.category}}']">
          <h2>{{ .title }}</h2>
          <div class="below">
            <p>{{ .content | markdownify }}</p>
            <div class="captioned-image">
              {{range .image}}
              {{ if .url }}
              <a href="{{ .url }}">
                <img src="{{ .src }}" alt="{{ .caption }}">
              </a>
              {{ else }}
              <img src="{{ .src }}" alt="{{ .caption }}">
              {{ end }}
              <span class="caption">{{ .caption }}</span>
              {{end}}
            </div>
          </div>
        </div>
        {{end}}
      </div>
      {{end}}

      <div class="timeline-mark">
        <a href="#start-scroll"><svg width="24" height="24" viewBox="0 200 1896 1896" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
      </div>
    </article>
  </section>
  <footer class="page-footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
